.headers a {
	text-decoration: none;
	color: red;
}

.headers {
	background: linear-gradient(90.08deg, rgba(211, 188, 65, 0.81) 0.02%, rgba(76, 162, 62, 0.72) 49.37%, rgba(77, 230, 24, 0.7) 99.96%);
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%
}

.kno {
	background: linear-gradient(86.65deg, #E09898 1.34%, rgba(202, 169, 83, 0.88) 33.58%, rgba(111, 209, 65, 0.63) 72.13%, rgba(22, 112, 118, 0.69) 97.23%);
	border-radius: 17px;
	cursor: pointer;
	border: none;
	position: relative;
	width: 65px;
	height: 30px;
	display: block;
   margin-left: auto;
   margin-right: auto;
   top: 42%;
   font-size: 24px;
}
.lis a {
	color: red;
	position: absolute;
	text-decoration: none;
	margin-left: auto;
	display: block;
   margin-right: auto;
}

.forms input {
	text-decoration: none;
}
.forms button {
	border-radius: 17;
	border: none;
	left: 50px;
}