button {
	cursor: pointer;
}
a {
	text-decoration: none;
	cursor: pointer;
	color: #0000CD;
}
.registers {
	left: 30%;
	top: 55px;
	outline: none;
}

.ffrf {
	outline: none;
	color: #fff;
	box-sizing: border-box;
	font-size: 20px;
	input [type="text"]:focus, .ffrf input [type="email"]:focus, .ffrf input [type="password"]:focus {
	border: 1px soild #0fc3f5;
}